/* Hide the body until the CSS is fully loaded */
body {
    visibility: hidden;
}

/* Show the body once the page is fully loaded */
body.loaded {
    visibility: visible;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20%;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

.reason, .solution {
    font-size: 1.5em;
    margin: 20px 0;
    color: #555;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
