/* Hide the body until the page is fully loaded */
body {
    visibility: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.reason, .solution {
    font-size: 24px;
    line-height: 1.5;
}

.reason {
    margin-bottom: 0px
}

.solution {
    margin-top: 0px
}

.grey {
    color: grey;
}

.service {
    color: blue;
}

.verb {
    color: green;
}

.solution-variable {
    color: red;
}

/* Show the body once the page is fully loaded */
body.loaded {
    visibility: visible;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20%;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.subject {
    color: #FF5733; /* Bright orange for subjects */
}

.object {
    color: #75FF33; /* Bright green for objects */
}

.result {
    color: #FFC300; /* Bright yellow for results */
}
